.container {
      width: 100%;
      min-height: 100vh;
      padding-top: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.heading {
      font-size: 3.5rem;
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 10px;
}

.subheading {
      font-weight: 400;
      line-height: 1.75;
      max-width: 60%;
      opacity: 0.65;
}

.image {
      height: 75vh;
}