<div class="container">
      <h2 class="heading">Reset Password</h2>
      <h3 class="subheading">Forgot your password? just reset it.</h3>

      <form class="form" [formGroup]="form">
            <mat-form-field class="form-field" floatLabel="always">
                  <mat-label>email</mat-label>
                  <input matInput type="email" formControlName="email">
                  <mat-error *ngIf="emailControl?.touched && emailControl?.errors?.['email']">invalid email address!</mat-error>
                  <mat-error *ngIf="emailControl?.touched && emailControl?.errors?.['required']">email is required!</mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" floatLabel="always">
                  <mat-label>what is your pet's name?</mat-label>
                  <input matInput type="text" formControlName="security_answer">
                  <mat-error *ngIf="answerControl?.touched && answerControl?.errors?.['required']">answer is required!</mat-error>
            </mat-form-field>
      
            <mat-form-field class="form-field" floatLabel="always">
                  <mat-label>password</mat-label>
                  <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                  <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <i-feather [name]="hidePassword ? 'eye' : 'eye-off'"></i-feather>
                  </button>
                  <mat-error *ngIf="passwordControl?.touched && passwordControl?.errors?.['required']">password is required!</mat-error>
                  <mat-error *ngIf="passwordControl?.touched && passwordControl?.errors?.['minlength']">password min 8 chars!</mat-error>
            </mat-form-field>

            <button class="form-submit" type="submit" mat-flat-button color="primary" (click)="onSubmit()" [disabled]="inProgress">
                  <app-spinbar *ngIf="inProgress"></app-spinbar>
                  <span *ngIf="!inProgress">Reset</span>
            </button>
      </form>
</div>