.container {
      width: 100%;
      display: flex;
      flex-direction: column;
}

.heading {
      font-size: 2rem;
      margin-bottom: 10px;
}

.subheading {
      font-size: 1rem;
      font-weight: normal;
      margin-bottom: 40px;
      opacity: 0.6;
}

.form-field {
      margin-bottom: 35px;
}

.form-field:last-of-type {
      margin-bottom: 0;
}

.form-submit {
      margin-top: 40px;
      margin-bottom: 20px;
}

.reset-link,
.redirect-link {
      font-size: 0.8rem;
}

.reset-link:hover {
      text-decoration: underline;
}

.redirect-link {
      text-align: center;
}

.redirect-link a {
      font-weight: 500;
      text-decoration: underline;
}