:host {
      line-height: 0;
      font-size: 1rem !important;
      width: fit-content;
      height: fit-content;
}

.lang-switch {
      width: 70px;
      margin: 0;
}

.lang-switch::ng-deep .mat-select-value {
      line-height: normal;
}

.lang-switch::ng-deep .mat-form-field-prefix {
      margin-right: 10px;
}

.lang-switch::ng-deep .mat-form-field-infix,
.lang-switch::ng-deep .mat-form-field-wrapper {
      padding: 0 !important;
      border-top: none;
}

.lang-switch::ng-deep .mat-form-field-flex {
      align-items: center;
}

.lang-switch::ng-deep .mat-form-field-underline,
.lang-switch::ng-deep .mat-form-field-subscript-wrapper {
      display: none;
}