<nav class="nav">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">
            {{ 'nav.home' | translate }}
      </a>

      <a class="nav-link" routerLink="/menu" routerLinkActive="active"*ngIf="user?.role != 'ADMIN'">
            {{ 'nav.menu' | translate }}
      </a>

      <a class="nav-link" routerLink="/transaction" routerLinkActive="active" *ngIf="user">
            {{ 'nav.transaction' | translate }}
      </a>

      <a class="nav-link" routerLink="/menu-management" routerLinkActive="active" *ngIf="user?.role == 'ADMIN'">
            {{ 'nav.menu_management' | translate }}
      </a>

      <a class="nav-link" routerLink="/stock-management" routerLinkActive="active" *ngIf="user?.role == 'ADMIN'">
            {{ 'nav.stock_management' | translate }}
      </a>
</nav>