<div class="profile">
      <img class="profile-avatar" [matMenuTriggerFor]="menu" src="https://mini-project-annam.vercel.app/assets/images/background-2.jpg" alt="avatar">

      <mat-menu #menu="matMenu">
            <div class="profile-info">
                  <div class="profile-name">
                        {{ user.first_name }} {{ user.last_name }}
                  </div>
                  <div class="profile-email">
                        {{ user.email }}
                  </div>
                  <div class="profile-credit" *ngIf="user?.role == 'USER'">
                        <i-feather name="credit-card"></i-feather> 
                        <span>{{ balance | currency:'Rp ':'symbol':'3.0' }}</span>
                  </div>
            </div>
            <button mat-menu-item (click)="onLogout()">
                  <i-feather name="log-out"></i-feather>
                  {{ 'auth.logout' | translate }}
            </button>
      </mat-menu>
</div>