<app-container>
      <app-toolbar>
            <button mat-flat-button color="primary" (click)="openDialog(null, false)">
                  <i-feather name="plus"></i-feather> Add new item
            </button>
      </app-toolbar>

      <div class="content">
            <!-- loading -->
            <div class="content-loading" *ngIf="inProgress">
                  <app-spinbar></app-spinbar>
            </div>

            <!-- error -->
            <div class="content-error" *ngIf="isError">
                  <img src="../../../assets/images/empty.svg" alt="" class="content-error-image">
                  <div class="content-error-message">{{ errorMessage }}</div>
            </div>

            <table mat-table [dataSource]="source" fixedLayout [formGroup]="filters">
                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let item">{{ item.name }}</td>
                  </ng-container>
      
                  <!-- Used Column -->
                  <ng-container matColumnDef="used">
                        <th mat-header-cell center *matHeaderCellDef>Used</th>
                        <td mat-cell center *matCellDef="let item">
                              <i-feather class="status status-used" name="check" *ngIf="item.isUsed"></i-feather>
                              <i-feather class="status status-unused" name="x" *ngIf="!item.isUsed"></i-feather>
                        </td>
                  </ng-container>
      
                  <!-- Stock Column -->
                  <ng-container matColumnDef="stock">
                        <th mat-header-cell center *matHeaderCellDef>Stock</th>
                        <td mat-cell center *matCellDef="let item">{{ item.stock }}</td>
                  </ng-container>
      
                  <!-- Unit Column -->
                  <ng-container matColumnDef="unit">
                        <th mat-header-cell center *matHeaderCellDef>Unit</th>
                        <td mat-cell center *matCellDef="let item">{{ item.unit }}</td>
                  </ng-container>
      
                  <!-- Actions Column -->
                  <ng-container matColumnDef="actions">
                        <th mat-header-cell center *matHeaderCellDef>Actions</th>
                        <td mat-cell center *matCellDef="let item">
                              <div class="action-wrapper">
                                    <button mat-flat-button class="action-button action-update" (click)="openDialog(item, true)">
                                          <i-feather name="edit2"></i-feather>
                                    </button>
                                    <button mat-flat-button class="action-button action-delete" (click)="deleteStock(item)">
                                          <i-feather name="trash"></i-feather>
                                    </button>
                              </div>
                        </td>
                  </ng-container>

                  <!-- Name Filter -->
                  <ng-container matColumnDef="name-filter">
                        <th mat-header-cell *matHeaderCellDef>
                              <mat-form-field class="form-field" floatLabel="always">
                                    <mat-label>filter name</mat-label>
                                    <input matInput type="text" formControlName="name">
                              </mat-form-field>
                        </th>
                  </ng-container>

                  <!-- Used Filter -->
                  <ng-container matColumnDef="used-filter">
                        <th mat-header-cell center *matHeaderCellDef>
                              <mat-form-field class="form-select" floatLabel="always">
                                    <mat-label>filter used</mat-label>
                                    <mat-select [disabled]="true">
                                          <mat-option value="used">used</mat-option>
                                          <mat-option value="used">unsed</mat-option>
                                    </mat-select>
                              </mat-form-field>
                        </th>
                  </ng-container>

                  <!-- Stock Filter -->
                  <ng-container matColumnDef="stock-filter">
                        <th mat-header-cell center *matHeaderCellDef>
                              <mat-form-field class="form-field" floatLabel="always">
                                    <mat-label>filter stock</mat-label>
                                    <input matInput type="number" formControlName="stock">
                              </mat-form-field>
                        </th>
                  </ng-container>

                  <!-- Unit Filter -->
                  <ng-container matColumnDef="unit-filter">
                        <th mat-header-cell center *matHeaderCellDef>
                              <mat-form-field class="form-select" floatLabel="always">
                                    <mat-label>filter unit</mat-label>
                                    <mat-select [disabled]="true">
                                          <mat-option *ngFor="let unit of units" [value]="unit">{{ unit }}</mat-option>
                                    </mat-select>
                              </mat-form-field>
                        </th>
                  </ng-container>

                  <!-- Actions Filter -->
                  <ng-container matColumnDef="actions-filter">
                        <th mat-header-cell center *matHeaderCellDef>
                              <div class="action-wrapper">
                                    <button mat-flat-button class="action-button action-clear" matTooltip="clear filter" (click)="clearFilters()">
                                          <i-feather name="x"></i-feather>
                                    </button>
                                    <button mat-flat-button class="action-button action-search" matTooltip="apply filter" (click)="applyFilters()">
                                          <i-feather name="search"></i-feather>
                                    </button>
                              </div>
                        </th>
                  </ng-container>
      
                  <tr mat-header-row *matHeaderRowDef="columns"></tr>
                  <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
      </div>

      <mat-paginator (page)="onPaginatorChange($event)" [pageIndex]="pagination.page" [pageSize]="pagination.limit" [length]="pagination.total"></mat-paginator>
</app-container>