<div class="mat-dialog-head">
      <h1 class="mat-dialog-title">
            {{ 'transaction.rate_order' | translate }}
      </h1>
</div>

<div class="mat-dialog-body" mat-dialog-content>
      <app-transaction-rate-input *ngFor="let menu of data.menus" [menu]="menu" (_rate)="onRate($event)"></app-transaction-rate-input>
</div>

<div class="mat-dialog-foot" mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>cancel</button>

      <button mat-flat-button color="primary" [disabled]="(ratedLength < data.menus.length) || isLoad" (click)="onSubmit()">
            <span *ngIf="!isLoad">rate</span>
            <app-spinbar *ngIf="isLoad"></app-spinbar>
      </button>
</div>