.card {
      width: 100%;
      margin-bottom: 30px;
      background-color: #fff;
      box-shadow: 0 10px 20px rgba(119, 140, 202, 0.15);
      border: 1px solid transparent;
      border-radius: 20px;
      transition: 0.2;
}

.card:hover {
      border: 1px solid currentColor;
}

.card-head {
      width: 100%;
      padding: 30px;
      display: flex;
      align-items: center;
}

.card-user {
      margin-right: 30px;
      display: flex;
      align-items: center;
}

.card-user-picture {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      border-radius: 50%;
}

.card-date {
      margin-right: auto;
}

.card-status {
      font-size: 0.8em;
      font-weight: 500;
      padding: 0.4em 0.8em;
      margin-right: 30px;
      color: hsl(347, 100%, 50%);
      background-color: hsla(347, 100%, 50%, 0.1);
      border-radius: 0.5em;
}

.card-status.success {
      color: hsl(152, 77%, 43%);
      background-color: hsla(152, 77%, 43%, 0.1);
}

.card-body {
      padding: 30px;
      display: flex;
      flex-direction: column;
      background-color: hsl(200, 20%, 95%);
}

.card-menu {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      padding-bottom: 20px;
      border-bottom: 1px solid hsl(200, 20%, 92%);
}

.card-menu:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border: none;
}

.card-menu-info {
      margin-right: auto;
}

.card-menu-name {
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 5px;
}

.card-menu-price {
      font-size: 0.8rem;
      color: var(--text-color-2);
}

.card-menu-picture {
      width: 60px;
      height: 60px;
      margin-right: 30px;
      object-fit: contain;
}

.card-foot {
      padding: 30px;
}

.card-total {
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: space-between;
}