.tab {
      display: flex;
      gap: 20px;
}

.tab-item {
      padding: 0.8em 1.2em;
      border-radius: 10px;
      border: 1px solid hsl(200, 20%, 95%);
      cursor: pointer;
      transition: 0.2s;
}

.tab-item.active {
      background-color: hsl(200, 20%, 95%);
}