.container {
      width: 100%;
      min-height: 100vh;
      padding: 100px;
      display: flex;
      flex-direction: column;
}

.toolbar {
      width: 100%;
      margin-bottom: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.content {
      position: relative;
      width: 100%;
      flex: 1;
}

.state {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.state-image {
      width: 200px;
      margin-bottom: 20px;
}

.state-message {
      font-size: 1.4rem;
      font-weight: 500;
}

.loader::ng-deep .skeleton-loader {
      width: 100%;
      height: 250px;
      margin-bottom: 30px;
      border-radius: 20px;
}

.mat-paginator {
      margin-top: 40px;
}

/* hide paginatior page size */
.mat-paginator::ng-deep .mat-paginator-page-size {
      display: none;
}