<div class="container">
      <div class="toolbar">
            <app-tab class="tab" [labels]="tabLabels" (_change)="onTabChange($event)"></app-tab>
      </div>

      <div class="content">
            <div *ngIf="isError || isEmpty; then state else content"></div>
      </div>
</div>

<ng-template #content>
      <ngx-skeleton-loader class="loader" count="3" animation="progress" *ngIf="isLoad"></ngx-skeleton-loader>

      <div class="wrapper" *ngIf="currentTab == 'History' && !isLoad">
            <app-transaction-history *ngFor="let transaction of transactions" [transaction]="transaction"></app-transaction-history>
            <mat-paginator 
                  (page)="onPaginatorChange($event)" 
                  [pageIndex]="pagination.page" 
                  [pageSize]="pagination.limit" 
                  [length]="pagination.total">
            </mat-paginator>
      </div>

      <div class="wrapper" *ngIf="currentTab == 'Ratings' && !isLoad">
            <app-transaction-rating *ngFor="let rating of ratings" [rating]="rating"></app-transaction-rating>
      </div>
</ng-template>

<ng-template #state>
      <div class="state">
            <img class="state-image" src="../../../assets/images/empty.svg" alt="">
            <div class="state-message">
                  <span *ngIf="isEmpty">{{ 'menu.menu_empty' | translate }}</span>
                  <span *ngIf="isError">{{ 'menu.menu_error' | translate }}</span>
            </div>
      </div>
</ng-template>