<div class="container">
      <div class="toolbar">
            <div class="tab">
                  <div class="tab-item" [ngClass]="{ active: currentTab == 'history' }" (click)="switchTab('history')">History</div>
                  <div class="tab-item" [ngClass]="{ active: currentTab == 'ratings' }" (click)="switchTab('ratings')">Ratings</div>
            </div>
      </div>
      <div class="content">
            <div *ngIf="currentTab == 'history'; then history_template else rating_template"></div>
      </div>
</div>

<ng-template #history_template>
      <div class="card-container">
            <app-card 
                  *ngFor="let transaction of transactions" [transaction]="transaction" 
                  [role]="role"
                  [transId]="transaction._id">
            </app-card>
      </div>
      <mat-paginator [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page">
      </mat-paginator>
</ng-template>

<ng-template #rating_template>
      <div class="rating-container">
            <div class="rating" *ngFor="let rating of ratings">
                  <div class="menu">
                        <img [src]="rating.recipe_id.picture" alt="" class="menu-picture">
                        <div class="menu-name">{{ rating.recipe_id.name }}</div>
                  </div>
                  <div class="rating-info">
                        <div class="rating-star">
                              <i-feather name="star" *ngFor="let i of [1, 2, 3, 4, 5]" [ngClass]="{ active: rating.rating_value >= i }"></i-feather>
                        </div>
                        <div class="rating-date">{{ rating.rating_date }}</div>
                  </div>
                  <div class="rating-review">{{ rating.review }}</div>
            </div>
      </div>
</ng-template>