<div class="container">
      <h2 class="heading">{{ 'home.highlight.heading' | translate }}</h2>
      <h3 class="subheading">{{ 'home.highlight.subheading' | translate }}</h3>

      <ngx-skeleton-loader class="content" count="3" animation="progress" *ngIf="isLoad"></ngx-skeleton-loader>

      <div class="content" *ngIf="!isLoad">
            <app-menu-card 
                  class="menu-card" 
                  *ngFor="let menu of menus" 
                  [menu]="menu" 
                  [showFavorite]="false"
                  (_order)="goToMenu(menu._id)">
            </app-menu-card>
      </div>

      <a class="view-all" mat-flat-button routerLink="/menu">
            View all menu
            <i-feather name="arrow-right"></i-feather>
      </a>
</div>