<div class="container">
      <ngx-skeleton-loader class="loader" count="3" animation="progress" *ngIf="isLoad"></ngx-skeleton-loader>

      <div class="content">
            <div *ngIf="isEmpty; then state else content"></div>
      </div>
</div>

<ng-template #state>
      <div class="state">
            <img class="state-image" src="../../../assets/images/empty.svg" alt="">
            <div class="state-message">
                  <span *ngIf="isEmpty">
                        {{ 'cart.cart_empty' | translate }} <br> <a routerLink="/menu">{{ 'cart.go_to_menu' | translate }}</a>
                  </span>
                  <span *ngIf="isError">
                        {{ 'cart.cart_error' | translate }}
                  </span>
            </div>
      </div>
</ng-template>

<ng-template #content>
      <div class="card-container">
            <app-cart-card class="card" 
                  *ngFor="let cart of carts" 
                  [cart]="cart" 
                  [outStocks]="outStocks" 
                  (_change)="getCarts()">
            </app-cart-card>
      </div>
      <div class="toolbar">
            <h3 class="total-price">Total: {{ totalPrice | currency:'Rp ':'symbol':'3.0' }}</h3>
            <button mat-flat-button color="primary" (click)="checkout()" [disabled]="isEmpty">Checkout</button>
      </div>
</ng-template>