<header class="header">
      <h1 class="header-title">BEEF!</h1>

      <!-- navigation bar -->
      <app-header-nav [user]="user"></app-header-nav>

      <!-- cart button with badge -->
      <app-header-cart *ngIf="user?.role == 'USER'"></app-header-cart>

      <!-- language switcher -->
      <app-lang-switch></app-lang-switch>

      <!-- profile menu -->
      <app-header-profile *ngIf="user" [user]="user" (_logout)="onLogout()"></app-header-profile>
      
      <!-- auth button -->
      <a mat-flat-button routerLink="/auth/register" *ngIf="!user">
            {{ 'auth.register_heading' | translate }}
      </a>
      <a mat-flat-button color="primary" routerLink="/auth/login" *ngIf="!user">
            {{ 'auth.login_heading' | translate }}
      </a>
</header>