/******************* reset default css styles *******************/

*,
*::before,
*::after {
      font-family: 'Poppins', sans-serif !important;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

html {
      font-size: 16px;
      color: #33444d;
}

body {
      width: 100%;
      min-height: 100vh;
      background-color: #fcfefd;
}

a {
      text-decoration: none;
      color: inherit;
}

form {
      width: 100%;
      display: flex;
      flex-direction: column;
}

table {
      width: 100%;
}

input, button,
textarea {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      border: none;
      outline: none;
      background-color: transparent;
}

button {
      user-select: none;
      cursor: pointer;
}

/******************* customize default input placeholder ********************/

::placeholder {
      font-family: inherit !important;
      font-size: inherit !important;
      color: inherit !important;
      opacity: 0.3;
}

/******************* customize chrome scrollbar ********************/

::-webkit-scrollbar {
      width: 5px;
}

::-webkit-scrollbar-track {
      background-color: transparent;
}

::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 50px;
}

/******************* feather icons ********************/

i-feather {
      width: fit-content !important;
      height: fit-content !important;
      line-height: 0;
}

i-feather > svg {
      width: 1.4em;
      height: auto;
      stroke-width: 1.6;
}

/******************* customize sweetalert ********************/

.swal2-container.swal2-backdrop-show, 
.swal2-container.swal2-noanimation {
      background-color: rgba(20, 27, 31, 0.8) !important;
}

.swal2-popup {
      color: inherit !important;
      width: unset !important;
      min-width: 400px !important;
      padding: 30px !important;
      border-radius: 20px !important;
}

.swal2-icon {
      margin: 0 auto !important;
}

.swal2-title {
      font-size: 1.6rem !important;
      padding: 0 !important;
      margin: 20px 0 10px 0 !important;
}

.swal2-html-container {
      color: #526d7a !important;
      margin: 0 0 10px 0 !important;
      font-size: 1rem !important;
}

.swal2-styled {
      font-size: 0.9rem !important;
      font-weight: 500 !important;
      padding: 0.6em 1.2em !important;
      border-radius: 0.5em !important;
      box-shadow: none !important;
}

.swal2-styled:hover {
      background-image: none !important;
}

.swal2-styled.swal2-confirm {
      background-color: #202c31 !important;
}

.swal2-styled.swal2-cancel {
      color: currentColor !important;
      background-color: #e7ecef !important;
}

/******************* material button ********************/

.mat-raised-button:not([class*="mat-elevation-z"]), 
.mat-raised-button:not(.mat-button-disabled):active:not([class*="mat-elevation-z"]),
.mat-fab:not([class*="mat-elevation-z"]), 
.mat-fab:not(.mat-button-disabled):active:not([class*="mat-elevation-z"]),
.mat-mini-fab:not([class*="mat-elevation-z"]), 
.mat-mini-fab:not(.mat-button-disabled):active:not([class*="mat-elevation-z"]) {
      box-shadow: none;
}

.mat-flat-button, .mat-stroked-button, 
.mat-raised-button, .mat-button, .mat-icon-button,
.mat-fab, .mat-mini-fab {
      font-size: 0.9rem;
      font-weight: 500;
      line-height: normal !important;
}

.mat-flat-button, .mat-stroked-button, 
.mat-raised-button, .mat-button {
      min-width: unset !important;
      padding: 0.8em 1.2em !important;
      border-radius: 0.5em !important;
      background-color: transparent;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
      color: #33444d;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, 
.mat-fab.mat-primary, .mat-mini-fab.mat-primary {
      background-color: #202c31;
      color: #fff;
}

.mat-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
}

.mat-flat-button i-feather, .mat-stroked-button i-feather, 
.mat-raised-button i-feather, .mat-button i-feather {
      margin-right: 0.5em;
}

/******************* material menu ********************/

.mat-menu-content:not(:empty) {
      padding: 0 !important;
}

.mat-menu-panel {
      border-radius: 20px !important;
      box-shadow: 0 10px 50px rgba(119, 140, 202, 0.2);
}

.mat-menu-item {
      line-height: normal !important;
      height: fit-content !important;
      color: inherit !important;
      padding: 1em 1.4em !important;
      display: flex !important;
      align-items: center;
}

.mat-menu-item i-feather {
      margin-right: 0.5em;
}

.mat-menu-content .mat-menu-item:first-child {
      padding-top: 1.4em !important;
}

.mat-menu-content .mat-menu-item:last-child {
      padding-bottom: 1.4em !important;
}
