<footer class="footer">
      <div class="footer-wrapper">
            <h3 class="footer-heading">Location</h3>
            <div class="footer-list">
                  <div class="footer-item">3350 N Morrison <br> Road Muncie, IN 47304</div>
                  <a class="footer-item" href="#">
                        <i-feather name="map"></i-feather> Direction
                  </a>
            </div>
      </div>

      <div class="footer-wrapper">
            <h3 class="footer-heading">Open Hours</h3>
            <div class="footer-list">
                  <div class="footer-item">Everyday</div>
                  <div class="footer-item">Lunch 12 - 3 PM</div>
                  <div class="footer-item">Dinner 4 - 10 PM </div>
            </div>
      </div>

      <div class="footer-wrapper">
            <h3 class="footer-heading">Quick Links</h3>
            <div class="footer-list">
                  <a class="footer-item" routerLink="/home">Home</a>
                  <a class="footer-item" routerLink="/menu">Menu</a>
            </div>
      </div>

      <div class="footer-wrapper">
            <h3 class="footer-heading">Follow Us</h3>
            <div class="footer-row">
                  <a href="#" class="footer-social"><i-feather name="instagram"></i-feather></a>
                  <a href="#" class="footer-social"><i-feather name="twitter"></i-feather></a>
                  <a href="#" class="footer-social"><i-feather name="facebook"></i-feather></a>
            </div>
      </div>
</footer>