<div class="container">
      <h2 class="heading">Register</h2>
      <h3 class="subheading">Please register to continue.</h3>

      <form class="form">
            <mat-form-field class="form-field" floatLabel="always">
                  <mat-label>first name</mat-label>
                  <input matInput type="text">
            </mat-form-field>

            <mat-form-field class="form-field" floatLabel="always">
                  <mat-label>last name</mat-label>
                  <input matInput type="text">
            </mat-form-field>

            <mat-form-field class="form-field" floatLabel="always">
                  <mat-label>email</mat-label>
                  <input matInput type="email">
            </mat-form-field>

            <mat-form-field class="form-field" floatLabel="always">
                  <mat-label>what is your pet's name?</mat-label>
                  <input matInput type="text">
            </mat-form-field>

            <mat-form-field class="form-field" floatLabel="always">
                  <mat-label>password</mat-label>
                  <input matInput type="password">
                  <button mat-icon-button type="button" matSuffix>
                        <i-feather name="eye"></i-feather>
                  </button>
            </mat-form-field>

            <button class="form-submit" mat-flat-button color="primary">Register</button>
      </form>

      <div class="redirect-link">
            Already have an account? <a routerLink="/auth/login">Login</a>
      </div>
</div>