<div class="container">
      <img class="image" src="../../../../../assets/images/chef.png" alt="image">
      <div class="content">
            <h2 class="heading">
                  It Takes About 60 Years <br> To Cook The Perfect Steak
            </h2>
            <p class="paragraph">
                  At BEEF!, our brand has always meant something special. Because on <br> 
                  the ranch, a brand is what differentiates you from your neighbors. It's a <br> 
                  physical example of what sets you apart from the others in the herd. <br> 
                  And at BEEF!, we take that to heart.
                  <br> <br>
                  For almost 60 years, BEEF! has been the best at what it does. And like that <br> 
                  first match on the grill every evening... we're just getting started! 
            </p>
      </div>
</div>