<div class="container">
      <h2 class="heading">{{ 'home.offers.heading' | translate }}</h2>
      <h3 class="subheading">{{ 'home.offers.subheading' | translate }}</h3>

      <ngx-skeleton-loader class="content" count="4" animation="progress" *ngIf="isLoad"></ngx-skeleton-loader>
      
      <div class="content" *ngIf="!isLoad">
            <div class="menu" *ngFor="let offer of offers" [ngStyle]="offer.styles" (click)="goToMenu(offer._id)">
                  <img class="menu-picture"[src]="offer.picture" alt="">

                  <div class="menu-info">
                        <div class="menu-name">{{ offer.name }}</div>
                        <div class="menu-description">{{ offer.description }}</div>

                        <div class="menu-discount">
                              Get {{ offer.discount }}<small>%</small> &nbsp; Discount
                              <i-feather name="arrow-right"></i-feather>
                        </div>
                  </div>
            </div>
      </div>
</div>